.sidebar-container {
    padding: 7px 2px 0px 15px;
    
}

.sidebar-introduction {
    background-color: #1B1B1D;
    color: #E0E0E0;
    border: none;
}

.sidebar-element {
    background-color: #1B1B1D;
    color: #E0E0E0;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px;
    border: none;
}

.sidebar-selected {
    background-color: #2a2a2c;
    color: #0d6efd;
}

.sidebar-parent {
    color: #0d6efd;
}

.sidebar-button {
    margin-left: auto;
    color: #a4a1a1;
    padding: 0px 10px;
    height: 100%;
}

.sidebar-button:hover {
    background-color: #49494d;
    color: #a4a1a1;
}

.card-body{
    padding: 5px 0px 5px 10px;
}

.sidebar-element:hover, .sidebar-introduction:hover {
    background-color: #2a2a2c;
}
.topic {
    margin-left: 10px;
}

.article {
    margin-left: 20px;
}
