.docs-page {
    padding: 0px 0px 0px 0px;
    
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #1B1B1D;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.sidebar {
    background-color: #1B1B1D;
    color: white;
    width: 20%; /* Adjust the width as needed */
    max-width: 350px; /* Optional: set a maximum width */;
    border-right: 1px solid #444444;
    font-weight: bold;
    overflow-y: auto;
}

.main-section {
    background-color: #1B1B1D;
    color: white;
    width: 70%; /* Adjust the width as needed */
    margin: 20px 0px 0px 100px;
    padding: 5px 0px 0px 0px;
}
